.HealthBar {
    width: 50%;
    height: 20px;
    background-color: #ddd;
    margin-bottom: 20px;
}


.HealthBarFill {
    height: 100%;
    background-color: green;
    border: 1px solid black;
}

.player-info {
    display: flex;
}

h3 {
    margin-left: 10px;
}