button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(128, 106, 106);
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
}

.btnn:hover {
    transform: translateX(-5px);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
}